<div class="header">
  <h1 class="title">My Journal</h1>
  <a href="#posts/new">New Post</a>
</div>

<div id="root" class="row">
  <div id="sidebar" class="col-md-1">
  </div>
  <div id="content" class="col-md-5">
  </div>
</div>
